* {
	margin:0;
	padding:0;
}
body {
	background-color: white;
}
.wrapper {
	width:760px;
	height:864px;
	margin:0 auto;
	text-align:left;
	border-left:2px solid gray;
	border-right:2px solid gray;
	padding:0 3px;
}
header {
	display:flex;
	width:100%;
}
.logo img {
	width:241px;
	height:85px;
}
.top {
	background-image: url("../images/backg1.jpg");
	display:flex;
	justify-content: flex-end;
	align-items: flex-end;
	width:520px;
	height:85px;
}
.shopping,.choose,.cur {
	width:115px;
	margin-bottom: 10px;
	padding:10px;
}
.shopping,.choose {
	border-right:1px dashed grey;
}
button {
	border:0;
	margin:3px;
}
.flag {
    width:26px;
	height:18px;
}
select { 
  font-size: 14px;
  width: 100%;
}
option:checked {
  color: blue;
}
p {
	color:white;
	font-size: 10px;
	font-family:Tahoma;
}
a {
	color:black;
	text-decoration: none;
}
nav {
	width:760px;
	height:170px;
	font-family:Tahoma;
	font-size: 12px;
}
li {
	width:198px;
	line-height:26px;
	padding-left: 43px;
	border-bottom:1px solid #DBDBDB;
}
.publicity {
position:relative;
	top:-225px;
} 
.icon {
	 list-style-image: url("../images/sp-over.jpg");
	padding-top: 10px;
	padding-left:42px;

}
.icon2 {
	list-style-image:url('../images/browse2.png');
	padding-left:38px;
	line-height:26px;
}
.icon2 li {
	width:155px;
	height:21px;
	line-height:23px;
    padding-left: 24px;
}
aside {
	float:left;
	font-family:Tahoma;
	font-size: 11px;
}
.h3 {
	background-color:#DBDBDB;
	width:240px;
	height:38px;
}
h3 {
	padding:11px;
	font-size: 14px;
	font-weight: lighter;
}
main {
	width:479px;
	height:513px;
	margin:0px 1px 1px 248px;
	padding:8px 16px 10px 18px;
	background:#1F1F1F;
}
.price {
	background:white;
	width:211px;
	height:142px;
	margin:0 4px 8px;
	padding:0 9px;
	border:1px solid black;
	float:left;
}
.details {
	width:237px;
}
main p {
	color:black;
	font-size: 11px;
}
.menu {
	color:black;
}
.prod p {
	margin:5px 1px 31px 1px;	
}
.prod img {
	width:100px;
}
span {
	color:red;
}
.day {
	position:relative;
	top:2px;
	left:33px;	
}
.price img {
	float:left;
}
.cart img {
	margin:4px 1px;
}
.prod {
	width:204px;
	margin:6px 4px;
	padding:3px 0;
	border-bottom:1px dashed #BDBDBD;	
	float:left;
}
.products {
	padding:5px;
	top:-22px;
	left:6px;
	font-size:14px;
	color:white;
}
footer {
	width:761px;
	height:67px;
	display: inline-flex;
}
.footer img {
	width:517px;
	height:67px;
}
.footer p {
	position:relative;
	top:-49px;
	left:80px;
}		