* {
	margin:0;
	padding:0;
}
body {
	overflow-x: hidden;
}
.wrapper {
	width:776px;
	height:864px;
	margin:0 auto;
	text-align:left;
	border-left:2px solid gray;
	border-right:2px solid gray;
	padding:0 3px;
}
.logo {
	width:244px;
	height:73px;
}
.top {
	width:527px;
	height:73px;
}
.part {
	position:relative;
	top:-30px;
	right:-249px;
}
.one_row {
	width:775px;
	height:73px;
}
.one_row2 {
	width:131px;
	height:53px;
	border-left:1px dashed #6f6565;
	border-right:1px dashed #6f6565;
	position:relative;
	top:-219px;
	left:491px;
}
p {
	color:white;
	font-size: 10px;
	position:relative;
	font-family:Tahoma;
}
.shopping {
	top:-88px;
	left:407px;
}
.choose {
	top:-112px;
	left:511px;
}
.cur {
	top:-167px;
	left:636px;
}
.one_row button {
	width:132px;
	position:relative;
	top:-167px;
	left:635px;
	text-align: left;
	padding:2px 5px;
	font-size: 10px;
}
.en,.ge,.sp {
	position:relative;
	top:-121px;
	width:28px;
	padding:10px;
} 
.en {
	right:-500px;
}
.ge {
	right:-487px;
}
.sp {
	right:-473px;
}
a {
	color:black;
	text-decoration: none;
}
nav {
	width:213px;
	padding:21px 1px;
	float:left;
	font-family:Tahoma;
	font-size: 12px;
}
li {
	width:169px;
	list-style: none;
	line-height:23px;
	padding-left: 43px;
	border-bottom:1px solid #DBDBDB;
}
.second_row {
	float:left;
}
aside {
	float:left;
	font-family:Tahoma;
	font-size: 11px;
}
.category {
	width:237px;
	padding:0 10px;
}
main {
	width:493px;
	height:513px;
	margin:160px 1px 1px 248px;
	padding:36px 16px 10px 18px;
	background:#1F1F1F;
}
.price {
	background:white;
	width:217px;
	height:142px;
	margin:0 4px 8px;
	padding:0 9px;
	border:1px solid black;
	float:left;
}
main p {
	color:black;
	font-size: 11px;
}
.prod p {
	margin:5px 1px 31px 1px;	
}
.prod img {
	width:100px;
}
span {
	color:red;
}
.day {
	position:relative;
	top:2px;
	left:33px;	
}
.price img {
	float:left;
}
.cart img {
	margin:4px 1px;
}
.prod {
	width:204px;
	margin:6px 4px;
	padding:3px 0;
	border-bottom:1px dashed #BDBDBD;	
	float:left;
}
.products {
	top:-22px;
	left:6px;
	font-size:14px;
	color:white;
}
footer {
	width:776px;
	height:67px;
	float:left;
}
.contact {
	color:black;
	position:relative;
	top:-48px;
	left:273px;
}
.icon {
	width:129px;
	height:19px;
	float:left;
}
.icon li {
	background:url('../images/sp-over.jpg')no-repeat;
	padding-left:42px;
}
.icon2 li {
	background:url('../images/browse1.jpg')no-repeat;
	padding-left:42px;
}